{% extends "account/base_entrance.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}


{% block menu %}
{% endblock menu %}

{% block content %}
        <div class="container" id="container">
        <div class="form-container sign-in">

            <div class="form-block">
    {% element h1 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. <br><br>
            Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
    </p>
                </div>
        </div>

            <div class="toggle-container">
            <div class="toggle">

                <div class="toggle-panel toggle-right">
                    <h1>Continue login</h1>
                    <p>Move back to Sign In page</p>
                    <button class="hidden" id="back-page" onclick="window.history.back();">Sign In</button>
                </div>

                <div class="toggle-background-right">
                    <img src="{% static 'images/handz-right.png' %}" alt="" class="background-image">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
