asgiref==3.7.2
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
cffi==1.16.0
channels==4.0.0
click==8.1.7
colorama==0.4.6
constantly==23.10.4
cryptography==42.0.1
cssbeautifier==1.14.11
daphne==4.0.0
Django==5.0.1
djlint==1.34.1
EditorConfig==0.12.3
html-tag-names==0.1.2
html-void-elements==0.1.0
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
jsbeautifier==1.14.11
json5==0.9.14
pathspec==0.12.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyOpenSSL==24.0.0
PyYAML==6.0.1
regex==2023.12.25
service-identity==24.1.0
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
tqdm==4.66.1
Twisted==23.10.0
txaio==23.1.1
typing_extensions==4.9.0
zope.interface==6.1
