{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Marketplace</title>
        <link rel="stylesheet" href="{% static "marketplace/css/style.css" %}">
    </head>
    <body>
        <h1>Welcome to the marketplace</h1>
        {% comment %} <form method="get" action="{% url "search_results" %}"></form> {% endcomment %}
        <button type="button"
                onclick="location.href='{% url "marketplace_my_posts" request.user.username %}'">My posts</button>
        <button type="button"
                onclick="location.href='{% url "marketplace_create" %}'">Create new post</button>
        {% if marketposts %}
            {% for post in marketposts %}
                <a href="{{ post.get_absolute_url }}">
                    <div>
                        <h3>{{ post.title }}</h3>
                        <p>Seller: {{ post.author }}</p>
                        <p>Price: {{ post.price }}</p>
                        <p>Posted on: {{ post.created_on }}</p>
                        <p>Description: {{ post.description }}</p>
                        {% if post.image %}<img src="{{ post.image.url }}" class="thumbnail">{% endif %}
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p>No posts found.</p>
        {% endif %}
    </body>
</html>
