{% extends "accounts/base.html" %}

{% block content %}
    <div class="content-container marketplace">
        <div class="marketplace-bg">
            <div class="marketplace-bg2">
                <div id="parenting-detail-title">
                    <h1>Alter your post here</h1>
                </div>

                <div class="form-container edit">
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="parenting-update-form tn marketplace-update-form">
                            {{form.as_p}}
                        </div>
        
                        {% if form.instance.image %}
                            <div class="image-container">
                                <img src="{{form.instance.image.url}}" alt="image" style="width:500px; height:auto">
                            </div>
                        {% endif %}
        
                        <div class="mini-bar">
                            <button type="submit">Update</button>
                            <a href="{% url "marketplace_list" %}" class="cancel-button">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


