{% extends "accounts/base.html" %}

{% block content %}
    <div class="content-container marketplace">
        <div class="marketplace-bg">
            <div class="marketplace-bg2">
                <div id="parenting-detail-title">
                    <h1>{{ marketpost.title }}</h1>
                </div>

                {% if marketpost.image %}
                    <img src="{{ marketpost.image.url }}" style="width:800px; height:auto">
                {% endif%}

                <div id="parenting-detail-description">
                    <p>{{ marketpost.description }}</p>
                </div>

                <div id="parenting-detail-info">
                    <h5>Sold for: <span style="color: blue;">{{ marketpost.price }}</span></h5>
                    <p><strong>Sold by:</strong> {{ marketpost.author }}</p>
                    <p><strong>Where:</strong> {{ marketpost.location }}</p>
                </div>

                <div id="parenting-detail-info">
                    <p>Find more like these under: {{ marketpost.get_category_display }}</p>
                    <p>Posted on {{ marketpost.created_on }}</p>
                </div>

                <div class="mini-bar" id="mini-bar">
                    {% if user == marketpost.author or user.is_staff %}
                        <button type="button"
                                onclick="location.href='{{ marketpost.get_update_url }}'">Edit post</button>
                        <button type="button"
                                onclick="location.href='{{ marketpost.get_delete_url }}'">Delete post</button>
                        <a href="{% url 'marketplace_detail' %}?action=start_chat">Start Chat</a>
                                
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% comment %} <script>
        function startChatRoom() {
            window.location.href = "{% url 'marketplace-detail' pk=marketpost.pk %}?start_chat=1";
        }
    </script> {% endcomment %}
    
{% endblock content %}

