/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 0 30px 0 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
    width: 880px;
    max-width: 100%;
    min-height: 880px;
}
.container p {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 10px 0;
}
.container a {
    color: #333;
    font-size: 15px;
    text-decoration: none;
    margin: 15px 0 10px;
    cursor: pointer;
}
.container button {
    background-color: #2759aa;
    color: #fff;
    font-size: 15px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    height: 46px;
    max-width: 200px;
    align-self: center;
}
.container button:hover {
    background-color: #1f4788;
}
.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}
.container button.hidden:hover {
    background-color: #1f4788;
    border-color: #fff;
}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.form-block {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
form {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.form-header p a{
    text-decoration: -webkit-link;
    text-decoration: underline;
    font-size: 15px;
}
h1{
    text-align: center;
}
h2{
    margin-top: 40px;
}


/*=============== INPUTS ===============*/
.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.input-field {
    align-content: center;
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 14px 0;
    height: 46px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 5px;
    position: relative;
    border: 1px solid #acacac;
}
.input-field i {
    align-content: center;
    text-align: center;
    line-height: 60px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}
.input-field input {
    background: none;
    outline: none;
    /*line-height: 10px;*/
    font-weight: 600;
    font-size: 0.95rem;
    color: #333;
    border-left: 1px solid #acacac;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.input-field input:focus {
    border: 1px solid rgba(31, 71, 136, 0.75);
    box-shadow: 0 0 4px rgba(31, 71, 136, 0.75);
}
.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}


.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.checkbox-container input[type="checkbox"] {
    transform: scale(1.4);
}
.checkbox-container label {
    width: 250px;
    font-size: 15px;
}


/*=============== SOCIALS ===============*/
.provider-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-icons {
    margin: 20px 0;
}
.social-icons a {
    border: 1px solid #151b2e;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 40px;
    height: 40px;
}
.social-icons a i {
    font-size: 18px;
    color: #151b2e;
}
.social-icons a:hover {
    background-color: rgb(31, 71, 136);
}
.social-icons a:hover i{
    font-size: 20px;
    color: #fff;
}

/*=============== ANIMATIONS ===============*/
/* When becoming invisible */
.sign-in,
.sign-up {
    position: absolute;
    left: 0;
    width: 50%;
    transition: transform 0.5s, opacity 0.5s; /* disappearance speed */
    will-change: opacity, transform;
}
.container .sign-in {
    transform: translateX(0%);
    opacity: 1;
    z-index: 5; /* Keep sign-in on top when it's active */
}
.container .sign-up {
    transform: translateX(50%);
    opacity: 0;
    z-index: 1; /* Keep sign-up below when it's not active */
}
/* When becoming visible */
.container.active .sign-in,
.container.active .sign-up {
    opacity: 1;
    transition: transform 0.5s, opacity 0.6s; /* appearance speed */
}
.container.active .sign-in {
    transform: translateX(50%);
    opacity: 0;
    z-index: 1; /* Move sign-in below when it's not active */
}
.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5; /* Bring sign-up to top when it's active */
}


/*=============== TOGGLE  ===============*/
.toggle-container {
    position: relative;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
    border-radius: 0 30px 0 30px;
}
/* Add two divs for backgrounds */
.background1, .background2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.6s ease-in-out;
}

.background1 {
    background: linear-gradient(to right, rgba(0, 167, 105, 0.45), rgba(31, 71, 136, 0.95));
    opacity: 1;
}

.background2 {
    background: linear-gradient(to right, rgba(31, 71, 136, 0.95), rgba(0, 167, 105, 0.45));
    opacity: 0;
}

/* Toggle the opacity */
.container.active .background1 {
    opacity: 0;
}

.container.active .background2 {
    opacity: 1;
}
.toggle-background-right {
    position: absolute;
    top: 340px;
    scale: 40%;
    left: 20%;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}
.toggle-background-left {
    position: absolute;
    top: 340px;
    scale: 40%;
    left: -48%;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}
.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 30px 0 30px;
    /*background: linear-gradient(to right, rgba(0, 167, 105, 0.85), rgba(31, 71, 136, 0.85));*/

}
.toggle {
    background: rgba(31, 71, 136, 0.5);  /* Fallback color */
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.container.active .toggle {
    transform: translateX(50%);
}
.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    border-radius: 150px;
}
.toggle-left {
    transform: translateX(-200%);
}
.container.active .toggle-left {
    transform: translateX(0);
}
.toggle-right {
    right: 0;
    transform: translateX(0);
}
.container.active .toggle-right {
    transform: translateX(200%);
}