@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;300;400;700;900&family=Poppins:wght@100;400;500;600;700;800;900&display=swap');

/*=============== VARS ===============*/
:root {

    /*========== Colors ==========*/
    --first-color: rgba(0, 167, 105);
    --second-color: rgba(31, 71, 136);
    --accent-color: #fcd8cb;
    --text-color: #e4e4e4;
    --text-color-light: hsl(0, 12%, 87%);
    --button-color: #2759aa;
    --button-color-hover: #1f4788;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    /*--body-font: 'Oxanium', cursive;*/
    /*--biggest-font-size: 2.25rem;*/
    /*--h2-font-size: 1.25rem;*/
    /*--normal-font-size: .938rem;*/
    /*--smaller-font-size: .75rem;*/

    /*========== Font weight ==========*/
    /*--font-semi-bold: 600;*/

    /*========== z index ==========*/
    /*--z-fixed: 100;*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{
    min-height: 100vh;
    width: 100vw;
    font-family: "Ubuntu", sans-serif;
    overflow-x: hidden;
}

main{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
}

::placeholder {
  color: var(--text-color-light);
    font-weight: 400;
    font-family: Ubuntu;
  opacity: 0.3; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--text-color-light);
}

nav{
    position: fixed;
    z-index: 100;
    padding: 20px 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

nav a{
    font-size: 14px;
    color: var(--text-color);
    font-weight: 400;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.2s ease;
}

nav .logo{
    font-size: 20px;
    font-weight: 900;
    color: var(--text-color);
    margin-right: auto;
}

.navigation:hover a{
    filter: blur(1px);
}

.navigation a:hover{
    filter: blur(0);
}

section{
    padding: 20px 30px;
}

.hero,.contact{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle farthest-corner at 100px -200px,
    rgba(0, 167, 105, 0.9) 40%,
    rgba(0, 167, 105, 0.9) 20%,
    rgba(0, 167, 105, 0.5) 10%,
    rgba(0, 167, 105, 0.6) 20%,
    rgba(0, 167, 105, 0.6) 20%,
    rgba(0, 167, 105, 0.7) 30%,
    rgba(0, 167, 105,0.9) 40%,
    rgba(31, 71, 136, 0.95) 100%);
    position: relative;
}

.hero::before,.contact::before{
    content: "";
    background: url(/static/images/noise.jpg);
    position: absolute;
    inset: 0;
    opacity: 0.5;
    z-index: 1;
    mix-blend-mode: soft-light;
}

.hero .content{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 span{
    display: inline-block;
    font-size: 170px;
    font-weight: 900;
    color: var(--text-color);
    text-shadow: 20px 20px 20px rgba(0,0,0,0.9);
}

.hero h5{
    font-weight: lighter;
    font-size: 14px;
    color: var(--text-color-light);
    margin: 10px 0;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.hero .left-sidebar{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 40px;
    bottom: 80px;
}

.hero .left-sidebar a{
    text-decoration: none;
    color: var(--text-color-light);
    font-size: 30px;
}
.hero .left-sidebar span {
    font-size: 16px;
}


.hero .right-sidebar{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    right: 40px;
    top: calc(100% - 140px);
}

.hero .right-sidebar span{
    color: var(--text-color-light);
    transform: rotate(90deg);
    font-weight: 400;
    font-size: 14px;
}

.hero .right-sidebar .bar{
    height: 0;
    width: 1px;
    margin-top: 10px;
    background: var(--accent-color);
    animation: scroll 3s infinite linear;
}


@keyframes scroll{
    0%{
        height: 0;
        opacity: 0;
    }
    40%{
        height: 25px;
        opacity: 0.7;
    }
    60%{
        height: 25px;
        opacity: 1;
    }
    100%{
        height: 0;
        opacity: 0;
    }
}


.preloader{
    position: absolute;
    inset: 0;
    z-index: 100;
    display: flex;
}

.preloader .stripe{
    height: 100vh;
    width: 100%;
    background: #2d2c2c;
}

.projects{
    height: calc(100vh + 100px);
    width: 100%;
    background: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-top: -1px;
    z-index: -1;
}



.projects h2 span, .contact h2 span{
    display: inline-block;
    font-size: 40px;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.projects h5,.contact h5{
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
    margin-top: 50px;
    color: var(--text-color-light);
}

.swiper{
    height: 1000px;
    width: 90%;
    margin: 0;
    padding: 0;
}

.swiper-wrapper{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    width: 100%;
    height: 100%;
    position: relative;
    filter: blur(4px);
}

.swiper-slide-active{
    filter: blur(0);
}


.swiper-slide .slide-content{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-content img{
    position: absolute;
    top: 50%;
    left: -50%;
    height: 60%;
    width: 200%;
    transform: translateY(-50%);
    object-fit: cover;
}

.swiper-slide .text{
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(10px);
    /*background-color: rgba(0, 167, 105, 0.45);*/
    padding: 20px;
    opacity: 0;
    transition: 0.3s ease;
}

.swiper-slide-active .text{
    opacity: 1;
}

.swiper-slide .text .project-name{
    font-size: 50px;
    font-weight: 900;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.swiper-slide .text .project-description{
    opacity: 0.7;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color-light);
}

.swiper-slide .text a{
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    background-color: #2759aa;
    margin-top: 20px;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-transform: uppercase;
}

/*.swiper-slide .text a {*/
/*    display: inline-block;*/
/*    background-color: #2759aa;*/
/*    color: #fff;*/
/*    font-size: 15px;*/
/*    padding: 10px 45px;*/
/*    border: 1px solid transparent;*/
/*    border-radius: 8px;*/
/*    font-weight: 600;*/
/*    letter-spacing: 0.5px;*/
/*    margin-top: 10px;*/
/*    cursor: pointer;*/
/*    height: 46px;*/
/*    max-width: 200px;*/
/*    align-self: center;*/
/*}*/
.swiper-slide .text a:hover {
    background-color: #1f4788;
}

.contact{
    height: 101vh;
    flex-direction: row;
    color: var(--text-color);
    gap: 20px;
    z-index: 90;
}

.left-contact,.right-contact{
    z-index: 100;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-contact p, .left-contact small{
    word-spacing: 5px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding: 0 20px;
    margin-top: 40px;
    line-height: 1.8;
    text-align: center;
    color: var(--text-color-light);
}

.left-contact h4{
    font-size: 18px;
    margin-top: 40px;
}

.left-contact small{
    margin-top: 0;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.right-contact form{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.5),
                5px -5px 10px rgba(0,0,0,0.1);
    background: #22222240;
    backdrop-filter: blur(10px);
}

.right-contact form input{
    padding: 10px 20px;
    margin-top: 30px;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--text-color-light);
    outline: none;
    color: var(--text-color);
    font-family: "Ubuntu", sans-serif;
}

.right-contact button{
    border: none;
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    background: #22222240;
    margin-top: 50px;
    color: var(--text-color);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
}
.placeholder {
    color: #0095ff;
    opacity: 0.7;
}