/* landing p. styling */
body {
    margin: 0;
    padding: 0;
}

.thing1 {
    background-image: url(/static/images/laika-alv.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.thing2 {
    background-image: url(/static/images/market.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}
.thing2 * {
    color: black;
}

.thing3 {
    background-image: url(/static/images/tennis.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.thing4 {
    background-image: url(/static/images/parenthood.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.thing5 {
    background-image: url(/static/images/team.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.thng {
    margin: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    color: #ffffff;
}

/* navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6f6f6f30;
    padding: 10px;
    z-index: 9999;
}

.navbar .align-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.navbar a {
    margin-left: 10px;
    text-decoration: none;
}
.nav-item img{
    scale: 1;
    height: auto;
    width: 80px;
}
.nav-item img:hover{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.50);
}

.navbar-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ddd;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar-button:hover {
    background-color: #aaa;
    color: #fff;
}



/* signin/signup page styling */
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.test {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #020206, #302b63, #24243e);
}

.main {
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url(/static/images/test.jpg) no-repeat center / cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#chk {
    display: none;
}

.login {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover {
    background: #6d44b8;
}

.signup {
    height: 460px;
    background: url(/static/images/reg.jpg) no-repeat center / cover;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.signup label {
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked ~ .signup {
    transform: translateY(-500px);   
}

#chk:checked ~ .signup label {
    transform: scale(1);
}

#chk:checked ~ .login label {
    transform: scale(.6);
}

.centered-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    padding-top: 120px;
}

.content-container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Parenting post-list page */

.parenting{
    background-image: url(/static/images/parenting_anastasia_1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 0;
    left: 0;
    position: fixed;
    flex-direction: column;
    align-items: center; 
    overflow: auto;
}

.mini-bar {
    display: flex;
    justify-content: center;
}

.mini-bar button {
    flex: 1;
    width: 90px;
    margin: 5px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container-elements {
    display: flex;
    align-items: center;
}


#parenting_input_text {
    width: 250px;
    height: 30px;
    margin-right: 10px;
}

#parenting_option {
    width: 250px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

#parenting_date {
    width: 250px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

#parenting_search_button {
    width: 200px;
    display: block;
    margin: 0;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

.post-container {
    display: flex;
    align-items: center;
    border: 1px solid #573b8a;
    padding: 2px;
    margin: 10px;
    width: 1000px;
    cursor: pointer;
}

.user-info {
    border: 1px solid #573b8a;
    width: 300px;
    margin: 1px;
}

.post-title {
    border: 1px solid #573b8a;
    width: 690px;
    margin: 1px;
}

/* Parenting detail page */

.parenting-main-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #573b8a;
    padding: 2px;
    margin: 10px;
    width: 1000px;
    cursor:default;
}

#parenting-detail-title {
    align-items: center;
    border-bottom: 1px solid #573b8a;
    padding: 2px;
    margin: 10px;
    cursor:default;
}

#parenting-detail-description {
    align-items: center;
    padding: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    cursor:default;
}

#parenting-detail-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #573b8a;
    padding: 20px 20px 5px 20px;
    width: 1000px;
    cursor:default;
}

.parenting-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #573b8a;
    padding: 2px;
    margin: 10px;
    width: 1000px;
    cursor:default;
}

.comment {
    display: flex;
    flex-direction: column;
  }
  
.main-comment {
    order: -1;
    border: 1px solid #573b8a;
    width: 1000px;
    display: flex;
}
  
.comment-reply {
    margin-top: 20px;
}


.new-comment {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #573b8a;
    width: 1000px;
    align-items: center;
    flex-direction: column;
}

.comment-user-info {
    border: 1px solid #573b8a;
    width: 300px;
    padding-top: 20px;
}

.comment-body {
    border: 1px solid #573b8a;
    width: 700px;
    padding-top: 20px;
}

#del-btn {
    padding-bottom: 5px;
    width: 100px;
    background-color: red;
}

.delete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.parenting-update-form {
    display: flex;
    flex-direction: column;
}
  
.parenting-update-form label {
    margin-bottom: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}
  
.parenting-update-form input,
.parenting-update-form select {
    margin-bottom: 5px;
}

.parenting-update-form input,
.parenting-update-form textarea{
    width: 500px;
    background-color: rgba(109, 68, 184, 0.5);
}

.parenting-update-form input {
    height: fit-content;
}

#image-clear_id,
label[for="image-clear_id"] {
    display: none;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.image-container {
    margin-top: 20px;
}
  
.mini-bar {
    margin-top: 20px;
}

.edit {
    border: 1px solid #573b8a;
    width: 1000px;
}

.cancel-button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #573b8a;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
}

.cancel-button:hover {
    background-color: #6e3e9a;
}

/* Laika app */

.laika{
    background-image: url(/static/images/laika-alv2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 0;
    left: 0;
    position: fixed;
    flex-direction: column;
    align-items: center; 
    overflow: auto;
}

.laika-post-title {
    border: 1px solid #573b8a;
    width: 690px;
    margin: 1px;
    height: 224px;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.laika-pr label{
    color:#6d44b8
}

/* tennis app */

.tennis{
    background-image: url(/static/images/tennis_bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 0;
    left: 0;
    position: fixed;
    flex-direction: column;
    align-items: center; 
    overflow: auto;
}

.tennis-list-form label {
    font-size: 20px;
    margin-bottom: 5px;
    color:#573b8a;
}

.tennis-list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5px;

}

#id_level,
#id_language,
#id_gender {
    margin-top: 13px;
    border-radius: 5px;
}

.tennis-list-form input[type="text"],
.tennis-list-form input,
.tennis-list-form select {
    width: 150px;
    background-color: rgba(82, 206, 0, 0.5);
    border: 1px solid #573b8a;
    color:#573b8a;
}

.tennis-user-info {
    border: 1px solid #573b8a;
    width: 300px;
    height: 164px;
    margin: 1px;
}

.tennis-post-title {
    border: 1px solid #573b8a;
    width: 690px;
    height: 164px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tn,
.tn button[type="submit"] {
    margin-bottom: 10px;
}

.tn label {
    margin-top: 10px;
}

.tn #id_text {
    width: 500px; 
    height: 100px;
    background-color: rgba(82, 206, 0, 0.5);
}

.tn-nc {
    border-top: 1px solid #573b8a;
}

.tn-cont {
    max-height: 200px; 
    overflow-y: auto;
}

.tennis-update-form input,
.tennis-update-form textarea,
.tennis-update-form #id_user_gender,
.tennis-update-form #id_level,
.tennis-update-form #id_language {
    background-color: rgba(82, 206, 0, 0.5);
}

/* Marketplace app */

.marketplace{
    background-image: url(/static/images/marketplace_anastasia_1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 0;
    left: 0;
    position: fixed;
    flex-direction: column;
    align-items: center; 
    overflow: auto;
}

.marketplace-bg{
    width: 1200px;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.marketplace-bg2{
    width: 1000px;
    margin-bottom: 20px;
}

.marketplace-user-info {
    border: 1px solid #573b8a;
    width: 300px;
    height: 164px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-container {
    border: 1px solid #573b8a;
    height: 164px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description-img {
    width: 150px;
}

.description-content {
    width: 500px;
}

.marketplace-bg2 #mini-bar {
    margin-bottom: 20px;
}

.marketplace-update-form input,
.marketplace-update-form textarea,
.marketplace-update-form #id_category {
    background-color: rgba(98, 99, 98, 0.5);
    border-radius: 5px;
}

.mk-form-container-elements {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mk-form-container-elements label,
.mk-form-container-elements input {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgba(129, 130, 129, 0.5);
}

#mk-btn {
    margin-top: 20px;
}

.mk-form-container-elements #id_category,
.mk-form-container-elements #id_init_post_date_month,
.mk-form-container-elements #id_init_post_date_day,
.mk-form-container-elements #id_init_post_date_year,
.mk-form-container-elements #id_final_post_date_month,
.mk-form-container-elements #id_final_post_date_day,
.mk-form-container-elements #id_final_post_date_year,
.mk-form-container-elements #id_min_price,
.mk-form-container-elements input {
    background-color: rgba(210, 210, 210, 0.5);
    border-radius: 5px;
}

.mk-form-container-elements #id_category {
    width: 200px;
    border-radius: 5px;
}

.mk-search-options {
    display: flex;
    align-items:center;
    flex-direction: row;
}

.mk-search-element {
    width: 330px;
    padding-top: 20px;
}

