{% extends "accounts/base.html" %}


{% block content %}
    <div class="content-container laika">
        {% if post.image %}
            <img src="{{ post.image.url }}" style="width:800px; height:auto">
        {% endif %} 

        <div class="parenting-posts">
            <div class="parenting-main-post">
                <div id="parenting-detail-title">
                    <h1 >{{post.title}}</h1>
                </div>
    
                <div id="parenting-detail-description">
                    <p>Desctiption: {{post.description}}</p>
                    <p><strong>Author:</strong> {{post.author}}</p>
                </div>
    
                <div id="parenting-detail-info">
                    <div id="pet">
                        {% if post.author.lpu.image %}
                            <img src="{{ post.author.lpu.image.url }}" style="width:100px; height:auto; border-radius: 50%;">
                        {% endif %}
                        <p>Hi! My name is:</p>
                        <p>{{ post.author.pet_set.first.pet_name}}</p>
                    </div>

                    <div class="laika-pet-detail-desc">
                        <p>I am a proud {{ post.author.pet_set.first.species}} - {{ post.author.pet_set.first.species_type}} </p>
                        <p><strong>Description:</strong> {{ post.author.pet_set.first.description}}</p>
                    </div>
                    
                    <div>
                        <p><strong>Post created:</strong> {{post.created_at}}</p>
                        <p><strong>Last updated:</strong> {{post.updated_at}}</p>
                    </div>
                </div>
            </div>
    
            <div class="mini-bar" id="mini-bar">
                {% if user.is_authenticated %}
                    {% if user == post.author or user.is_staff %}
                        <a href="{% url 'laika-post-update' post.pk %}" class="cancel-button">Update</a>
                        <a href="{% url 'laika-post-delete' post.pk %}" class="cancel-button">Delete</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}