{% extends "accounts/base.html" %}

{% block content %}
    <div class="content-container laika">
        <h1>Profile</h1>

        <div class="form-container edit laika-pr">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <div>
                    <img src="{{ user.lpu.image.url }}" style="margin-top:30px; width:200px; height:auto; border-radius: 50%;">
                </div>

                <div class="parenting-update-form">
                    {{profile_form.as_p}}
                </div>

                <div class="parenting-update-form">
                    {{pet_form.as_p}}
                </div>

                <input type ="submit" value="Save" class="cancel-button">
            </form>
        </div>
    </div>
{% endblock %}