{% extends "accounts/base.html" %}

{% block content %}

<div class="content-container parenting">
    {% if post.image %}
        <img src="{{post.image.url}}" style="width:800px; height:auto">
    {% endif%}

    <div class="parenting-posts">
        <div class="parenting-main-post">
            <div id="parenting-detail-title">
                <h1 >{{post.title}}</h1>
            </div>

            <div id="parenting-detail-description">
                <p>Desctiption: {{post.description}}</p>
            </div>

            <div id="parenting-detail-info">
                <p><strong>Author:</strong> {{post.author}}</p>
                <p><strong>Post created:</strong> {{post.created_at}}</p>
                <p><strong>Last updated:</strong> {{post.updated_at}}</p>
            </div>
        </div>

        <div class="mini-bar" id="mini-bar">
            {% if user.is_authenticated %}
                {% if user == post.author or user.is_staff %}
                    <button onclick=window.location.href="{% url 'post-update' post.pk %}">Update</button>
                    <button onclick=window.location.href="{% url 'post-delete' post.pk %}">Delete</button>
                {% endif %}
            {% endif %}
        </div>

        <div class="parenting-comments">
            <h3>Comments:</h3>

            <div class="new-comment">
                <p>Add a new comment:</p>
                <form method="post">{% csrf_token %}
                    <div class="new-comment-elements">
                        <textarea name="content" rows="3" cols="60" style="background-color: rgba(82, 206, 0, 0.5);"></textarea>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            
            <div class="comment">
                {% for comment_data in comments %}
                    <div class="main-comment">
                        <div class="comment-user-info">
                            <h4>{{comment_data.comment.author}}</h4>
                            <p>Member since:</p>
                            <p>{{ post.author.date_joined }}</p>
                        </div>

                        <div class="comment-body">
                            <div class="comment-text">
                                <div class="comment-text-field">
                                    <p><strong>Comment:</strong> {{comment_data.comment.content}}</p>
                                </div>
                                <div class="comment-text-info">
                                    
                                </div>
                            </div>

                            <div class="delete">
                                <p><strong>Created:</strong> {{comment_data.comment.created_at}}</p>
                                {% if user == post.author or user.is_staff or user == comment_data.comment.author %}
                                    <form method="post" action="{% url 'post-detail' post.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete_comment_id" value="{{ comment_data.comment.id }}">
                                        <button type="submit" id="del-btn">Delete</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    {% comment %} <div class="comment-reply">
                        <p>Replies:</p>
                        <div class="reply">
                            {% for reply in comment_data.replies %}
                            <div>
                                <strong>Author: {{reply.author}}</strong>
                                <p>Comment: {{reply.content}}</p>

                                {% if user == post.author or user.is_staff or user == comment_data.comment.author %}
                                    <form method="post" action="{% url 'post-detail' post.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete_reply_id" value="{{ reply.id }}">
                                        <button type="submit">Delete</button>
                                    </form>
                                {% endif %}
                            </div>
                        {% empty %}
                            <p>There are no replies</p>
                        {% endfor %}
                        </div>
                        
                        <div>
                            <h4>Reply to this comment:</h4>
                            <form method="post">{% csrf_token %}
                                <input type="hidden" name="parent_comment_id" value="{{comment_data.comment.id}}">
                                <textarea name="content" rows="3" cols="20"></textarea>
                                <br>
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div> {% endcomment %}
                    
                {% empty %}
                    <p>There are no comments</p>
                {% endfor %}
                
                {% if user.is_authenticated %}
                    {% if user == post.author or user.is_staff %}
                        {% include "delete_comment.html" %}
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}




