{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Welcome</title>
    </head>

    <body>
        {% include "accounts/navbar.html" %}
        
        <div>
            <div class="thing1">
                <div class="thng">
                    <h1>Laika</h1>

                    <p>A unique place where pet lovers unite. Our community designed to bridge</p>
                    <p>the gap between busy lifestyles and the need for reliable pet care. Whether you need a helping hand</p>
                    <p>for your furry friend or can offer one, we are here to ensure that every pet</p>
                    <p>receives love and care, even when you're away.</p>
                    <br>
                    <h4>Every paw counts!</h4>
                    <h3>Developer: Alvaro Kalama</h3>
                </div>
            </div>
            <div class="thing2">
                <div class="thng">
                    <h1>Online Community</h1>
                    <p>Some description on the Online Community</p>
                </div>
            </div>
            <div class="thing3">
                <div class="thng">
                    <h1>Outdoors Community</h1>
                    <p>Some description on the Outdoors Community</p>
                </div>
            </div>
            <div class="thing4">
                <div class="thng">
                    <h1>Get togethers</h1>
                    <p>Some description on the Get togethers</p>
                </div>
            </div>
            <div class="thing5">
                <div class="thng">
                    <h1>Anything else</h1>
                    <p>Some description on the topic</p>
                </div>
            </div>
        </div>
    </body>
</html>




