{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Welcome</title>
    </head>

    <body>
        {% include "accounts/navbar.html" %}
        
        <div>
            <div class="thing1">
                <div class="thng">
                    <h1>Laika</h1>

                    <p>A unique place where pet lovers unite. Our community designed to bridge</p>
                    <p>the gap between busy lifestyles and the need for reliable pet care. Whether you need a helping hand</p>
                    <p>for your furry friend or can offer one, we are here to ensure that every pet</p>
                    <p>receives love and care, even when you're away.</p>
                    <br>
                    <h4>Every paw counts!</h4>
                    <h3>Developer: Alvaro Kalama</h3>
                </div>
            </div>
            <div class="thing2">
                <div class="thng">
                    <h1>Marketplace</h1>

                    <p>Neighborly Deals</p>
                    <p>Discover, Sell, Trade</p>
                    <p>Your Local Marketplace!</p>
                    <br>
                    <h3>Developer: Andre Crujo</h3>
                </div>
            </div>
            <div class="thing3">
                <div class="thng">
                    <h1>GameSetConnect</h1>

                    <p>Welcome to GameSetConnect, where your next tennis match is just a click away!</p>
                    <p>Unleash the power of our innovative tennis player matchmaker app, designed for enthusiasts like you. </p>
                    <p>Whether you're a casual player or a seasoned pro, finding the perfect match has never been this easy. </p>
                    <p>Say goodbye to solo rallies and hello to a network of tennis aficionados ready to elevate your game.</p>
                    <p>Join GameSetConnect, where every match is a chance for new victories and unforgettable moments on the court!</p>
                    <br>
                    <h4>Your Perfect Tennis Match Awaits!</h4>
                    <h3>Developer: Mahshid Bahari</h3>
                </div>
            </div>
            <div class="thing4">
                <div class="thng">
                    <h1>Get togethers</h1>

                    <p>Welcome to our parental meet up and supporting group.</p>
                    <p>Here we can arrange meet up with kids, offer your time, help each other, sharing ideas.</p>
                    <p>The goal is to build a local community, which is gonna be ready to help each other.</p>
                    <br>
                    <h4>Let’s get together and support each other!</h4>
                    <h3>Developer: Aleksandra Serwus</h3>
                </div>
            </div>
            <div class="thing5">
                <div class="thng">
                    <h1>Development team:</h1>
                    <p><strong>Front-end:</strong></p>
                    <p>Igor Sleptov</p>
                    <p><strong>Back-end:</strong></p>
                    <p>Mahshid Bahari</p>
                    <p>Andre Crujo</p>
                    <p>Alvaro Kalama</p>
                    <p>Aleksandra Serwus</p>
                    <p><strong>Team leader:</strong></p>
                    <p>Ovidiu Tanase</p>
                </div>
            </div>
        </div>
    </body>
</html>




