{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Welcome</title>
    </head>

    <body>
        {% include "accounts/navbar.html" %}
        
        <div>
            <div class="thing1">
                <div class="thng">
                    <h1>Market Place</h1>
                    <p>Some description on the Market Place</p>
                </div>
            </div>
            <div class="thing2">
                <div class="thng">
                    <h1>Online Community</h1>
                    <p>Some description on the Online Community</p>
                </div>
            </div>
            <div class="thing3">
                <div class="thng">
                    <h1>Outdoors Community</h1>
                    <p>Some description on the Outdoors Community</p>
                </div>
            </div>
            <div class="thing4">
                <div class="thng">
                    <h1>Get togethers</h1>
                    <p>Some description on the Get togethers</p>
                </div>
            </div>
            <div class="thing5">
                <div class="thng">
                    <h1>Anything else</h1>
                    <p>Some description on the topic</p>
                </div>
            </div>
        </div>
    </body>
</html>




