{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<body>
  <nav class="navbar">

    {% if user.is_authenticated %}
      <div class="navbar-logo">
        <a href="{% url 'home' %}">
          <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-img">
        </a>
      </div>

      <div class="align-right">
        <a>Hello <strong>{{ user.username }}</strong></a>
        <a class="navbar-button" href="{% url 'signout' %}">LogOut</a>
      </div>
    {% else %}
      <div class="navbar-logo">
        <a href="{% url 'landing_view' %}">
          <img src="{% static 'images/logo.png' %}" alt="Logo" style="width: 70px; height: auto;">
        </a>
      </div>

      <div class="align-right">
        <a class="navbar-button" href="{% url 'signin' %}">Join!</a>
      </div>
    {% endif %}
  </nav>
</body>






