{#{{ attrs.form.as_p }}#}
{% load allauth %}

{% if attrs.form.non_field_errors %}
    <div role="alert"
         style="margin-top: 50px; background: #f6ed42">
        {{ attrs.form.non_field_errors }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

{# Loop through fields in form #}
{% for field in attrs.form %}

    {# customizing field errors #}
    {% if field.errors %}
        <div role="alert"
             style="margin-top: 50px; background: #19a3f6">
            <ul style="padding: 20px; color: black; list-style-type: disc;">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {#  Customizing fields  #}


    {% if field.field.widget.input_type == "textarea" %}
        <textarea name="{{ field.html_name }}" id="{{ field.id_for_label }}"
                  {% if field.field.required %}required{% endif %}
                  {% if field.field.widget.attrs.rows %}rows="{{ field.field.widget.attrs.rows }}"{% endif %}
                  {% if field.field.disabled %}disabled{% endif %}
                  placeholder="{{ field.field.widget.attrs.placeholder|default_if_none:'' }}">
                {{ field.value|default_if_none:"" }}
            </textarea>
    {% elif field.field.widget.input_type == 'checkbox' %}
        <div class="checkbox-container">
            <div class="checkbox-field">
                {{ field }}
            </div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
    {% else %}
{#                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
        <div class="input-field">
            {% if field.name == 'username' or field.name == 'login' %}
                <i class="fas fa-user"></i>
            {% elif field.name == 'email' %}
                <i class="fas fa-envelope"></i>
            {% elif field.name == 'password' or field.name == 'password1' or field.name == 'password2' %}
                <i class="fas fa-lock"></i>
            {% endif %}
            <input name="{{ field.html_name }}" id="{{ field.id_for_label }}"
                   {% if field.field.required %}required{% endif %}
                   {% if field.field.disabled %}disabled{% endif %}
                   placeholder="{{ field.field.widget.attrs.placeholder|default_if_none:'Enter value' }}"
                   autocomplete="{{ field.field.widget.attrs.autocomplete|default_if_none:'off' }}"
                   value="{{ field.field.value|default_if_none:'' }}"
                   type="{{ field.field.widget.input_type }}">
        </div>
    {% endif %}
    {% if attrs.help_text %}<span class="helptext">{{ attrs.help_text }}</span>{% endif %}


{% endfor %}

