

{% extends 'tennis/tennis_base.html' %}
{% block content %}
  {% load static %}
  <div class="container">
    <h1>Post List</h1>
    <div class="row"> 
      {% for post in posts %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            {% if post.image %}
              <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.user_name }}">
            {% else %}
              <img class="card-img-top" src="{% static 'tennis_app/static/image/default.jpg' %}" alt="{{ post.user_name }}">
            {% endif %}
            <div class="card-body">
              <h3>{{ post.user_name }}</h3>
              <p class="card-text">{{ post.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'tennis-post-detail' post.id  %}" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
                <small class="text-muted">{{ post.play_date }}</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if posts.has_other_pages %}
      <ul class="pagination">
        {% if posts.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% for i in posts.paginator.page_range %}
          <li class="page-item {% if posts.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endfor %}
        {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
