{% extends "accounts/base.html" %}

{% block content %}

<div class="content-container tennis">
    <div class="mini-bar">
        <button onclick=window.location.href="{% url 'tennis-post-create' %}">Create</button>
        <button onclick=window.location.href="{% url 'tennis-post-list' %}">List</button>
    </div>

    <form method="get" action="{% url 'tennis-post-list' %}">{% csrf_token %}
        <div class="form-container-elements tennis-list-form">
            <div class="search-bar">
                {{form.as_p}}
            </div>

            <div class="mini-bar">
                <button type="submit">Search</button>
            </div>
            
        </div>
    </form>

    <div class="parenting-posts">
        <h2>Search Results:</h2>
        {% for post in posts %}
            <div class="post-container" onclick="window.location.href='{% url 'tennis-post-detail' post.id  %}'">
                <div class="tennis-user-info">
                    <p><strong>Name:</strong> </p>
                    <h3>{{ post.user_name }} {{ post.user_last }}</h3>
                    <p>Member since:</p>
                    <p>{{ post.author.date_joined }}</p>
                </div>
                <div class="tennis-post-title">
                    {% comment %} <h3>{{ post.title }}</h3> {% endcomment %}
                    <p>{{ post.description|slice:":50" }}...(read more)</p>
                    <p>{{ post.play_date }}</p>
                </div>
            </div>

        {% empty %}
            <p>No results found.</p>
        {% endfor %}
    </div>




{% endblock %}
